@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  font-weight: 400;
  max-width: 1320px;
  margin: 0 auto;
  text-align: center;

  color-scheme: light dark;
/*   color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: rgb(74, 246, 38);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.border-console
{
  border:1px solid rgb(74, 246, 38);
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
